{% block nav %}
    <nav>
        <ul>
            {% for route in routes %}
                {% if route.inNav is defined and route.inNav %}
                    <li><a href="{{ route.path }}">{{ route.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}