{% block nav %}
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./test">Test</a></li>
            <li><a href="./post">Post</a></li>
        </ul>
    </nav>
{% endblock %}